{
  "presets": ["next/babel"],
  "plugins": [
    "ramda",
    ["styled-components", { "ssr": true }],
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "modules": "./node_modules",
        "components": "./src/components",
        "pages": "./src/pages",
        "helpers": "./src/helpers",
        "hooks": "./src/hooks",
        "hocs": "./src/hocs",
        "api": "./src/api",
        "customizations": "./src/customizations",
        "context": "./src/context",
        "epics": "./src/epics",
        "actions": "./src/actions",
        "reducers": "./src/reducers",
        "layouts": "./src/layouts",
        "services": "./src/services",
        "constants": "./src/constants.js"
      }
    }]
  ]
}