.idea
.next
next-env.d.ts
.DS_Store

# Always ignore .env
.env
.env.development
.env.production

# System folder for caches, etc.
.etmp
.cache

# System folder for VSCode local history plugin
.history
.vscode

dist
node_modules

docs
reports
npm-debug.log
yarn-error.log
package-lock.json
