.app-sign-in {
  width: 600px;

  .form-icon {
    height: 64px;
    top: -32px;
    width: 64px;
  }

  .form-sign-in {
    .bg-hover-none {
      &:focus,
      &:hover {
        background-color: $vulcan !important;
      }
    }
  }
}
