@import '../../../customizations/pre-customization';

.app-sign-in {
  width: 600px;

  .back-home-button {
    width: 150px;

    &:hover {
      background-color: $ebony;
    }
  }

  .form-sign-in {
    .form-icon {
      height: 64px;
      top: -32px;
      width: 64px;
    }
  }
}
