@import '../../../../customizations/pre-customization';

.chat-messaging-text {
  .outlined-input {
    border: 1px solid $white-12;

    &:hover {
      border-color: inherit;
    }
  }

  .icon-send {
    fill: $mischka;
  }
}
