.input-custom-autocomplete {
  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: $white;
    -webkit-box-shadow: 0 0 0 1000px $transparent inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}
