$transparent:            transparent;
$white:                 #fff;
$white-4:               rgba(255, 255, 255, 0.04);
$white-12:              rgba(255, 255, 255, 0.12);
$white-23:              rgba(255, 255, 255, 0.23);
$black:                 #000;
$maire:                 #1d1d1b;
$swans-down:            #d4f0dc;
$jagged-ice:            #c7ede5;
$light:                 #eff0f2;
$half-baked:            #5c9090;
$jelly-bean:            #437b89;
$tranquil:              #d9f6f0;
$pattens-blue:          #d7f3fc;
$dark:                  #1d1d1d;
$astral:                #367180;
$cinnabar:              #ea371f;
$purple:                #5c7190;
$sky-blue:              #50abf1;
$ghost-white:           #dedede;
$gray:                  #b1b3b6;
$royal-blue:            #345c97;
$albescent-white:       #f7e5de;
$brown:                 #905c5c;
$concrete:              #f2f2f2;
$panache:               #f0f3f8;
$ironside:              #6b6a68;
$spindle:               #b2ccdc;
$granny-apple:          #dcf8e4;
$vulcan:                #383a44;
$black-of-pearl:        #1c2025;
$ebony:                 #282c34;
$mischka:               #adb0bb;
$blue:                  #8a85ff;
$jackson:               #45427f;